<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Milton Bulletin Board</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id = "index"><%= link_to 'Jobs and Internships', 'index.html' %></li>
        <li id = "summer"><%= link_to 'Summer Opportunities', 'summer.html'%></li>
        <li id = "submit"><%= link_to 'Submit an ad', 'submit.html' %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container" style="display: block; padding-top: 70px " >
    <nav class="navbar" style="text-align:center; " role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <center><div class="navbar " style="color:white; align:center; background-color: #FF9898; border-radius: 0;">
      <h5 style="text-align: center; align:center;">Milton High School provides this list as a service. We are not responsible in any way for any person or company who advertises on this site.</h5>
    </div></center>
  </div><!-- /.container-fluid -->
</nav>
